@import 'tailwindcss';

@theme {
    /* colors */
    --color-primary-pink: #e43f70;
    --color-primary-pink-hover: #d32d5e;
    --color-secondary-purple: #9b51e0;
    --color-custom-black: #000;
    --color-custom-white: #fff;
    --color-bg-light: #f7f8f9;
    --color-foreground: #1e1e1e;

    /* font */
    --font-lexend: var(--font-lexend);
}
html,
body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
}
body {
    font-family: var(--font-lexend);
    background-color: var(--color-bg-light);
    color: var(--color-custom-black);
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
}
